body{
    font-family: Arial, sans-serif;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo img {
    width: 40px;
  }
  .logo-text{
    padding-left: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: #71cee8;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    flex: 1;
    margin: 0 20px;
  }
  
  .search-bar input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .nav-buttons button,
  .nav-buttons a {
    padding: 8px 12px;
    margin-left: 10px;
    border: none;
    background-color: #180d43;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .nav-buttons a:hover {
    color: #5ba2e3;
  }
 
  .upload-button {
    position: relative;
    background-color: #fabf3d;
    border-radius: 30px;
    padding: 10px 20px;
    color: #4228c8;
    border: none;
    cursor: pointer;
    font-weight: bold;
    right: 25%;
}
.upload-button:hover{
   background-color: #18c66c;
}
/* header */

.btn {
    background-color: #fabf3d;
    border-radius: 30px;
    padding: 10px 20px;
    color: #4228c8;
    border: none;
    cursor: pointer;
    font-weight: bold;
    margin-left: 22%;
}
.btn:hover {
    background-color: rgb(231, 240, 231);
} 
  .nav-buttons img {
    max-width: 30px;
  }

.top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  max-width: 100px;
}

.search-bar {
  display: flex;
  align-items: center;
  flex: 1;
  margin: 0 80px;
  
}

.search-bar input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 30px;
}

.search-bar button {
  padding: 8px 12px;
  border: none;
  background-color: #0277bd;
  color: #fff;
  border-radius: 4px;
  margin-left: 5px;
  cursor: pointer;
}

.nav-links ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  position: relative;
}

.nav-links a {
  padding: 8px 12px;
  text-decoration: none;
  color: #333;
}

header {
    background-color: #180d43;
    padding: 10px 20px;
  }
  
  .top-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#71cee8;
  }
  
  .nav-links ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    position: relative;
  }
  
  .nav-links a {
    padding: 8px 12px;
    text-decoration: none;
    color: #333;
  }
  
  .mega-menu {
    position: relative;
  }
  
  .mega-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0%;
    background-color: #26c6da;
    padding: 10px;
    min-width: 700px;
    z-index: 1;
    text-align: left;
  }
  .words{
    position: relative;
    display: flex;
    top: 3px;
  }
  
  .mega-menu:hover .mega-content {
    display: block;
  }
  
  .nav-links li:hover > a {
    color: #ddd;
  }
  .arrow {
    margin-left: 5px;
  }
  
  .arrow {
    font-size: 20px;
    display: inline-block;
    transform: translateY(-1px);
  }
  .mega-content ul{
    flex-direction: column;
  }
  .mega-content ul a:hover{
    color: #e2d1d1;
  }
  .video{
    margin-top: 100px;
  }










.img{
    margin-top: 100px;
    font-size: 20px;
    text-align: center;
}


.box1{
    margin: auto;
    margin-top: 100px;
    text-align: center;
    padding: 100px;
    border-radius: 12px;
    background: #0F2167;
    height: 1200px;
    width: 1050px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: baseline;
   
}

.circle{
    background-color: #0F2167;
    border-radius: 50%;
    width: 200px;
    height: 180px;
    font-size: 10px;
    line-height: 90px;
    margin: 37px;
   transform: translate(0,10%);
}


.txt {
    color: white;
    font-size: 14px;
    text-align: 50px;
    line-height: 450px;
}
 
.image {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
    bottom: 450px;
    float: left;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 10px;
}

/* Footer //////////////////////////////////////////////*/
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  .container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;

}

ul {
    list-style: none;
}
.content{
  margin-top: 100px;
}

.footer {
    margin-top: 100px;
    background-color: #180d43;
    padding: 70px 0;
    line-height: 1.5;
    font-family: 'Arvo', serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;

}

.footer-col {
    width: 25%;
    padding: 0 15px;
    text-align: left;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color:#ffffff;
    padding-left:10px ;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color:#24262b;
    background-color:#ffffff ;
}
/* Footer //////////////////////////////////////////////*/
